<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatmapper">
	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="USER_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="NAME"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="gender" column="GENDER"/>
		<result property="job" column="JOB"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="withd_yn" column="WITHD_YN"/>
		<result property="join_date" column="JOIN_DATE"/>
		<result property="field" column="FIELD"/>
		<result property="profile" column="PROFILE"/>
	</resultMap>
	
	<resultMap type="Friends" id="friendsResultSet">
		<id property="fNo" column="FR_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="fId" column="FR_ID"/>
		<result property="acceptYn" column="ACCEPT_YN"/>
	</resultMap>
	
	<resultMap type="Chatroom" id="chatroomResultSet">
		<id property="chatroom_no" column="CR_NO"/>
		<result property="chatroomname" column="CR_NAME"/>
		<result property="chatroomdetail" column="CR_DETAIL"/>
		<result property="creater" column="CR_ID"/>
		<result property="current_no" column="CR_CURRENT"/>
		<result property="createdate" column="CR_CREATE_DATE"/>
		<result property="open_notice" column="OPEN_NOTICE"/>
		<result property="open_background" column="OPEN_BACKGROUND"/>
		<result property="open_frbackground" column="OPEN_FRBACKGROUND"/>
	</resultMap>
	
	<resultMap type="ChatroomMsg" id="chatroommessageResultSet">
		<id property="message_no" column="CM_NO"/>
		<result property="cr_no" column="CR_NO"/>
		<result property="chat_id" column="CM_ID"/>
		<result property="chat_content" column="CM_CONT"/>
		<result property="sent_image" column="CM_SENT_IMAGE"/>
	</resultMap>
	
	<resultMap type="OneToOne" id="otoResultSet">
		<id property="co_no" column="CO_NO"/>
		<result property="myId" column="MY_ID"/>
		<result property="friendId" column="FRIEND_ID"/>
		<result property="oto_notice" column="OTO_NOTICE"/>
		<result property="oto_mybackground" column="OTO_MYBACKGROUND"/>
		<result property="oto_frbackground" column="OTO_FRBACKGROUND"/>
	</resultMap>
	
	<resultMap type="OneToOneMsg" id="otomsgResultSet">
		<id property="message_no" column="MESSAGE_NO"/>
		<result property="co_no" column="CO_NO"/>
		<result property="chatId" column="CHAT_ID"/>
		<result property="content" column="MESSAGE_CONT"/>
		<result property="send_image" column="SENT_IMAGE"/>
		<result property="sentDate" column="SENT_DATE"/>
		<result property="read_yn" column="READ_YN"/>
	</resultMap>
	
	
	
	<select id="friendList" parameterType="string" resultMap="friendsResultSet" >
		SELECT *
		FROM FRIEND_YN
		WHERE (FR_ID=#{id} OR USER_ID=#{id}) AND ACCEPT_YN ='Y' 
	</select>
	
	<select id="friendsInfo" parameterType="string" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_ID=#{string} AND WITHD_YN='N'
	</select>
	
	<select id="chatroomList" resultMap="chatroomResultSet">
		SELECT *
  		FROM CHATROOM
  		ORDER BY CR_CREATE_DATE DESC
	</select>
	
	<insert id="makeOpenChatroom" parameterType="Chatroom">
		INSERT INTO CHATROOM VALUES
  								(SEQ_CR.NEXTVAL
  								, #{chatroomname}
  								, #{chatroomdetail}
  								, #{creater}
  								, 0
  								, SYSDATE
  								, null
  								, DEFAULT
  								, DEFAULT)
	</insert>
	
	 <select id="selectOpenChatroom" parameterType="string" resultMap="chatroomResultSet">
  		SELECT *
  		FROM CHATROOM
  		WHERE CR_NAME = #{chatroomname}
  </select>
	
	<update id="updateProfile" parameterType="Member">
		UPDATE MEMBER
		SET PROFILE = #{profile}
		WHERE USER_ID = #{id}
	</update>
	
	<select id="selectOneToOneRoom" parameterType="HashMap" resultMap="otoResultSet">
		SELECT *
		FROM ONETOONE_ROOM
		WHERE MY_ID = #{myId} AND FRIEND_ID = #{friendId}
	</select>
	<select id="selectOneToOneRoom2" parameterType="HashMap" resultMap="otoResultSet">
		SELECT *
		FROM ONETOONE_ROOM
		WHERE MY_ID = #{friendId} AND FRIEND_ID = #{myId}
	</select>
	
	<insert id="insertOneToOneRoom" parameterType="HashMap">
		INSERT INTO ONETOONE_ROOM VALUES(SEQ_OTO.NEXTVAL
																			 , #{myId}
																			 , #{friendId}
																			 , null
																			 , DEFAULT
																			 , DEFAULT)
	</insert>
	
	<insert id="insertOneToOnemsg" parameterType="HashMap">
		INSERT INTO ONETOONE_MESSAGE VALUES(SEQ_OTOMSG.NEXTVAL
																					  , #{co_no}
																					  , #{id}
																					  , #{message}
																					  , null
																					  , SYSDATE
																					  , 'N')
	</insert>
	
	<select id="OneToOneList" resultMap="otoResultSet" >
		SELECT ORM.CO_NO,M.NICKNAME,ORM.FRIEND_ID,M.PROFILE, OM.MESSAGE_NO, OM.MESSAGE_CONT
		FROM ONETOONE_ROOM ORM
		JOIN MEMBER M ON (M.USER_ID = ORM.FRIEND_ID)
		JOIN ONETOONE_MESSAGE OM ON (OM.CO_NO = ORM.CO_NO)
		WHERE ORM.MY_ID = #{id} AND OM.MESSAGE_NO IN(
		SELECT MAX(MESSAGE_NO)
		FROM ONETOONE_MESSAGE 
		WHERE MESSAGE_CONT != 'null'
		GROUP BY CO_NO
		)
		UNION
		SELECT ORM.CO_NO, M.NICKNAME, ORM.MY_ID, M.PROFILE, OM.MESSAGE_NO, OM.MESSAGE_CONT
		FROM ONETOONE_ROOM ORM
		JOIN MEMBER M ON (M.USER_ID = ORM.MY_ID)
		JOIN ONETOONE_MESSAGE OM ON (OM.CO_NO = ORM.CO_NO)
		WHERE ORM.FRIEND_ID = #{id}  AND OM.MESSAGE_NO IN(
		SELECT MAX(MESSAGE_NO)
		FROM ONETOONE_MESSAGE 
		WHERE MESSAGE_CONT != 'null'
		GROUP BY CO_NO
		)
		ORDER BY MESSAGE_NO DESC 
	</select>
	
	<select id="selectMessageList" resultMap="otomsgResultSet">
		SELECT OM.MESSAGE_NO, OM.CO_NO, OM.CHAT_ID, OM.MESSAGE_CONT, OM.SENT_DATE, OM.READ_YN, M.PROFILE,M.NICKNAME,OM.SENT_IMAGE
		FROM ONETOONE_MESSAGE OM
		JOIN MEMBER M ON (M.USER_ID = OM.CHAT_ID)
		WHERE CO_NO = #{co_no} AND MESSAGE_CONT !='null'
		ORDER BY MESSAGE_NO ASC
	</select>
	
	<select id="selectMessageList2" resultMap="otomsgResultSet">
		SELECT OM.MESSAGE_NO, OM.CO_NO, OM.CHAT_ID, OM.MESSAGE_CONT, OM.SENT_DATE, OM.READ_YN, M.PROFILE,M.NICKNAME,OM.SENT_IMAGE
		FROM ONETOONE_MESSAGE OM
		JOIN MEMBER M ON (M.USER_ID = OM.CHAT_ID)
		WHERE CO_NO = #{co_no} AND MESSAGE_CONT !='null'
		ORDER BY MESSAGE_NO ASC
	</select>
	
	<select id="checkNickname" parameterType="string" resultType="_int">
		SELECT COUNT(NICKNAME)
		FROM MEMBER
		WHERE NICKNAME=#{nickname}
	</select>
	
	<update id="updateNickname" parameterType="HashMap">
		UPDATE MEMBER
		SET NICKNAME = #{nickname}
		WHERE USER_ID = #{id}
	</update>
	
	<insert id="insertOpenchatMsg" parameterType="HashMap">
		INSERT INTO CHATROOM_MESSAGE VALUES(SEQ_CRMSG.NEXTVAL
																					  , #{chatroom_no}
																					  , #{id}
																					  , #{message}
																					  , null
																					  )
	</insert>
	
	<insert id="insertOpenchatSendImage" parameterType="HashMap">
		INSERT INTO CHATROOM_MESSAGE VALUES(SEQ_CRMSG.NEXTVAL
																					  , #{chatroom_no}
																					  , #{id}
																					  , #{message}
																					  , #{image}
																					  )
	</insert>
	
	<select id="selectOpenMessageList" resultMap="chatroommessageResultSet">
		SELECT CM.CM_NO, CM.CR_NO, CM.CM_ID, CM.CM_CONT, M.PROFILE, M.NICKNAME, CM.CM_SENT_IMAGE
		FROM CHATROOM_MESSAGE CM
		JOIN MEMBER M ON (M.USER_ID = CM.CM_ID)
		WHERE CM.CR_NO = #{cr_no} AND CM_CONT != 'null'
		ORDER BY CM_NO ASC
	</select>
	
	<insert id="insertOneToOnemsg2"  parameterType="HashMap">
				INSERT INTO ONETOONE_MESSAGE VALUES(SEQ_OTOMSG.NEXTVAL
																					  , #{co_no}
																					  , #{id}
																					  , #{message}
																					  , null
																					  , SYSDATE
																					  , 'Y')
	</insert>
	
	<update id="updateReadYN"  parameterType="HashMap">
		UPDATE ONETOONE_MESSAGE
		SET READ_YN = 'Y'
		WHERE CHAT_ID != #{id} AND CO_NO = #{co_no}
	</update>
	
	<select id="selectMyChatRoomNo" resultMap="otoResultSet">
		SELECT CO_NO
		FROM ONETOONE_ROOM
		WHERE MY_ID=#{loginUserid} OR FRIEND_ID=#{loginUserid}
		
	</select>
	
	<select id="ReadYNCount" resultMap="otomsgResultSet">
		SELECT CO_NO,CHAT_ID, COUNT(READ_YN) AS COUNT
		FROM ONETOONE_MESSAGE
		WHERE READ_YN = 'N' AND MESSAGE_CONT != 'null'
		GROUP BY CO_NO,CHAT_ID
	</select>
	
	<insert id="insertOneToOneSendImage"  parameterType="HashMap">
		INSERT INTO ONETOONE_MESSAGE VALUES(SEQ_OTOMSG.NEXTVAL
																					  , #{co_no}
																					  , #{id}
																					  , #{message}
																					  , #{image}
																					  , SYSDATE
																					  , 'N')
	</insert>
	
	<insert id="insertOneToOneSendImage2"  parameterType="HashMap">
		INSERT INTO ONETOONE_MESSAGE VALUES(SEQ_OTOMSG.NEXTVAL
																					  , #{co_no}
																					  , #{id}
																					  , #{message}
																					  , #{image}
																					  , SYSDATE
																					  , 'Y')
	</insert>
	
	<select id="ReadYnCount" resultType="_int">
		SELECT COUNT(READ_YN) AS COUNT
		FROM ONETOONE_MESSAGE
		WHERE CO_NO = #{co_no} AND CHAT_ID = #{loginUserid} AND READ_YN='N' AND MESSAGE_CONT != 'null'
	</select>
	
	<update id="updateChatNotice" parameterType="HashMap">
		UPDATE ONETOONE_ROOM
		SET OTO_NOTICE=#{notice}
		WHERE CO_NO = #{co_no}
	</update>
	
	<select id="selectChatNotice" resultType="string">
		SELECT OTO_NOTICE
		FROM ONETOONE_ROOM
		WHERE CO_NO = #{co_no}
	</select>
	
	<update id="updateMyBackgroundImage">
		UPDATE ONETOONE_ROOM
		SET OTO_MYBACKGROUND = #{image}
		WHERE MY_ID=#{myId} AND CO_NO=#{co_no}
	</update>
	
	<update id="updateFrBackgroundImage">
		UPDATE ONETOONE_ROOM
		SET OTO_FRBACKGROUND = #{image}
		WHERE FRIEND_ID =#{myId} AND CO_NO=#{co_no}
	</update>
	
	<select id="selectOtoBackgroundInfo" resultMap="otoResultSet">
		SELECT *
		FROM ONETOONE_ROOM
		WHERE CO_NO = #{co_no} AND MY_ID = #{id}
	</select>
	
	
	<select id="selectOtoBackgroundInfo2" resultMap="otoResultSet">
		SELECT *
		FROM ONETOONE_ROOM
		WHERE CO_NO = #{co_no} AND MY_ID = #{friendId}
	</select>
	
	
	<select id="selectOtoBackgroundInfo3" resultMap="otoResultSet">
		SELECT *
		FROM ONETOONE_ROOM
		WHERE  MY_ID = #{myId} AND FRIEND_ID = #{friendId}
	</select>
	
	
	<select id="selectOtoBackgroundInfo4" resultMap="otoResultSet">
		SELECT *
		FROM ONETOONE_ROOM
		WHERE  MY_ID = #{friendId} AND FRIEND_ID = #{myId}
	</select>
	
	
	<update id="updateOpenChatNotice" parameterType="HashMap">
		UPDATE CHATROOM
		SET OPEN_NOTICE=#{notice}
		WHERE CR_NO = #{co_no}
	</update>
	
	
	<select id="selectOpenChatNotice" resultType="string">
		SELECT OPEN_NOTICE
		FROM CHATROOM
		WHERE CR_NO = #{chatroomnumber}
	</select>
	
	<update id="updateOpenBackgroundImage">
		UPDATE CHATROOM
		SET OPEN_BACKGROUND = #{image}
		WHERE CR_NO=#{cr_no}
	</update>
	
	<select id="selectOpenChatroomBackground" resultMap="chatroomResultSet">
		SELECT OPEN_BACKGROUND	, CR_ID
		FROM CHATROOM
		WHERE CR_NO = #{chatroomnumber}
	</select>
	
	
	<select id="searchChatroomListResult" resultMap="chatroomResultSet">
		SELECT *
		FROM CHATROOM
		WHERE (CR_NAME Like '%'|| #{searchOpenChatroom} ||'%' OR CR_DETAIL Like '%'|| #{searchOpenChatroom} ||'%') 
	</select>
	
</mapper>


















