<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="travelMapper">
	<resultMap type="Board" id="boardResultSet">
		<id property="postNo" column="POST_NO"/>
		
		<result property="postType" column="POST_TYPE" />
		<result property="thumbnail" column="THUMBNAIL" />
		<result property="userId" column="USER_ID" />
		<result property="title" column="TITLE" />
		<result property="postContents" column="POST_CONTENTS" />
		<result property="hits" column="HITS" />
		<result property="wirteDate" column="WRITE_DATE" />
		<result property="postDelYn" column="POST_DEL_YN" />
		<result property="FileName" column="FILE_NAME" />
	</resultMap>
	
	<resultMap type="Travel" id="travelResultSet">
		<id property="tCode" column="T_CODE"/>
		
		<result property="postType" column="POST_TYPE" />
		<result property="postNo" column="POST_NO" />
		<result property="night" column="NIGHT" />
		<result property="tName" column="T_NAME" />
		<result property="txpoint" column="T_XPOINT" />
		<result property="typoint" column="T_YPOINT" />
	
	</resultMap>

	<resultMap type="Tag" id="tagResultSet">
		<id property="tagName" column="TAG_NAME"/>
		<result property="tagType" column="TAG_TYPE" />
	</resultMap>
	
	<resultMap type="PostTag" id="postTagResultSet">
		<id property="tagName" column="TAG_NAME"/>
		<result property="tagType" column="TAG_TYPE" />
		<result property="postType" column="POST_TYPE" />
		<result property="postNo" column="POST_NO" />
	</resultMap>
	
	
	<resultMap type="MapBoard" id="mapBoardResultSet">
		<id property="postNo" column="POST_NO" />
		<result property="postType" column="POST_TYPE" />
		<result property="voteTotal" column="VOTE_TOTAL" />
		<result property="likeTotal" column="LIKE_TOTAL" />
	</resultMap>

	<resultMap type="LikedPost" id="likedPostResultSet">
		<id property="postNo" column="POST_NO" />
		<result property="postType" column="POST_TYPE" />
		<result property="userId" column="USER_ID" />
		<result property="likeYn" column="LIKE_YN" />
	</resultMap>
	
	<resultMap type="Vote" id="votePostResultSet">
		<id property="postNo" column="POST_NO" />
		<result property="postType" column="POST_TYPE" />
		<result property="userId" column="USER_ID" />
		<result property="postYn" column="POST_YN" />
	</resultMap>
	
	
	<resultMap type="PostShared" id="PostSharedResultSet">
		<id property="share_id" column="SHARE_ID" />
		<result property="post_type" column="POST_TYPE" />
		<result property="post_no" column="POST_NO" />
		<result property="user_id" column="USER_ID" />
	</resultMap>
	
	<resultMap type="Comments" id="commentsResultSet">
		<id property="cmntNo" column="CMNT_NO" />
		<result property="postType" column="POST_TYPE" />
		<result property="postNo" column="POST_NO" />
		<result property="cmntWirter" column="CMNT_WRITER" />
		<result property="cmntContents" column="CMNT_CONTENTS" />
		<result property="cmntDate" column="CMNT_DATE" />
	</resultMap>
	
	<resultMap type="ReComments" id="reCommentsResultSet">
		<id property="rcmntNo" column="R_CMNT_NO" />
		<result property="cmntNo" column="CMNT_NO" />
		<result property="postType" column="POST_TYPE" />
		<result property="postNo" column="POST_NO" />
		<result property="rcmntWirter" column="R_CMNT_WRITER" />
		<result property="rcmntContents" column="R_CMNT_CONTENTS" />
		<result property="rcmntDate" column="R_CMNT_DATE" />
	</resultMap>

	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POST
		WHERE POST_TYPE = '3'
		AND POST_DEL_YN = 'N'
	</select>
	
	<select id="getListCount2" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM POST
		WHERE POST_TYPE = '3'
		AND POST_DEL_YN = 'N'
		AND USER_ID = #{id}
	</select>
	
	
	<select id="getListAllCount"  resultType="_int">
		SELECT COUNT(*)
		FROM POST
		WHERE (POST_TYPE = '3'
		OR POST_TYPE = '4')
		AND POST_DEL_YN = 'N'
	</select>
	
	
	<select id="memberselectAllList"  resultMap="boardResultSet">
		SELECT *
		FROM POST
		WHERE (POST_TYPE = '3'
		OR POST_TYPE = '4')
		AND POST_DEL_YN = 'N'
	</select>
	
	
	<select id="selectsharedList" parameterType="PostShared" resultMap="boardResultSet">
		SELECT *
		FROM POST
		WHERE USER_ID = #{user_id}
		AND POST_NO = #{post_no}
		AND POST_TYPE = #{post_type}
	</select>
	
	
	<delete id="deleteShared" parameterType="PostShared">
	DELETE FROM SHARED
	WHERE POST_TYPE = #{post_type}
	AND POST_NO= #{post_no}
	AND (SHARE_ID = #{share_id} OR USER_ID = #{share_id}) 
	</delete>
	
	<delete id="memberSharedDelete" parameterType="PostShared">
	DELETE FROM SHARED
	WHERE POST_TYPE = '3'
	AND POST_NO= #{post_no}
	AND SHARE_ID = #{user_id} 
	</delete>
	
	
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM POST
		WHERE POST_TYPE = '3'
		AND POST_DEL_YN = 'N'
		ORDER BY POST_NO DESC
	</select>
	
	<insert id="sharedInsert" parameterType="PostShared">
	INSERT INTO SHARED VALUES(#{share_id}, #{post_type}, #{post_no}, #{user_id})
	
	</insert>	
	
	
	<select id="selectListTag" resultMap="postTagResultSet">
		SELECT *
		FROM POST_TAG
	</select>
	
	<insert id="insertPlanB" parameterType="Board">
		INSERT INTO POST VALUES (
		'3'
		, SEQ_MAP.NEXTVAL
		, #{thumbnail}
		, #{userId}
		, #{title}
		, NULL
		, 0
		, SYSDATE
		, 'N'
		, NULL
		)
	</insert>
	
	<insert id="insertLT">
		INSERT INTO MAP_BOARD VALUES(
		'3'
		, SEQ_MAP.CURRVAL
		, 0
		, 0
		)
	</insert>
	
	<insert id="insertDay" parameterType="_int">
		
		INSERT INTO MAP_INFO VALUES(
		#{i}
		, '3'
		, SEQ_MAP.CURRVAL
		)
	</insert>
	
	<insert id="insertPoint" parameterType="Travel">
		INSERT INTO TRAVEL VALUES(
		#{tCode}
		, '3'
		, SEQ_MAP.CURRVAL
		, #{night}
		, #{tName}
		, #{txpoint}
		, #{typoint}
		)
	</insert>
	
	<select id="getTagList" resultMap="tagResultSet">
		SELECT TAG_NAME, TAG_TYPE
		FROM TAG
	</select>
	
	<insert id="insertTag" parameterType="Tag">
		INSERT INTO POST_TAG VALUES (
		#{tagType}
		, #{tagName}
		, '3'
		, SEQ_MAP.CURRVAL
		)
	</insert>
	
	<update id="hitsUp"  parameterType="Board">
		UPDATE POST
		SET HITS = HITS + 1
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</update>
	
	<select id="selectPostView" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM POST
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</select>
	
	<select id="selectTravelList" resultMap="travelResultSet">
		SELECT *
		FROM TRAVEL
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</select>
	
	<select id="likeVoteView" parameterType="MapBoard" resultMap="mapBoardResultSet">
		SELECT *
		FROM MAP_BOARD
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
	</select>
	
	<select id="selectPlan" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM POST
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</select>
	
	<select id="getPostTagList" parameterType="_int" resultMap="postTagResultSet">
		SELECT *
		FROM POST_TAG
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</select>
	
	<select id="selectPlanOne" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM TRAVEL
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}	
	</select>
	
	<delete id="planModifyB" parameterType="_int">
		DELETE FROM TRAVEL
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</delete>
	
	<delete id="planModifyPT" parameterType="_int">
		DELETE FROM POST_TAG
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</delete>
	
	<insert id="modifyTag" parameterType="Tag">
		INSERT INTO POST_TAG VALUES (
		#{tagType}
		, #{tagName}
		, '3'
		, #{postNo}
		)
	</insert>
	
	<insert id="modifyPoint" parameterType="Travel">
		INSERT INTO TRAVEL VALUES(
		#{tCode}
		, '3'
		, #{postNo}
		, #{night}
		, #{tName}
		, #{txpoint}
		, #{typoint}
		)
	</insert>
	
	<update id="planModifyPost" parameterType="Board">
		UPDATE POST
		SET TITLE = #{title}
		WHERE POST_TYPE = '3'
        AND POST_NO = #{postNo}
	</update>
	
	<select id="likedPost" parameterType="LikedPost" resultMap="likedPostResultSet">
		SELECT *
		FROM LIKED_POST
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
        AND USER_ID = #{userId} 
	</select>
	
	<update id="likeUp" parameterType="LikedPost">
		UPDATE LIKED_POST
		<set>
		<if test='likeYn eq "N".toString()'>
		LIKE_YN = 'Y'
		</if>
		<if test='likeYn eq "Y".toString()'>
		LIKE_YN = 'N'
		</if>
		</set>
		WHERE USER_ID = #{userId}
		AND POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
	</update>
	
	<update id="likeUpdate" parameterType="LikedPost">
		UPDATE MAP_BOARD
		<set>
		<if test='likeYn eq "N".toString()'>
		LIKE_TOTAL = LIKE_TOTAL - 1
		</if>
		<if test='likeYn eq "Y".toString()'>
		LIKE_TOTAL = LIKE_TOTAL + 1
		</if>
		</set>
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
	</update>
	
	
	

	<insert id="insertLike" parameterType="LikedPost">
		INSERT INTO LIKED_POST VALUES(
		#{userId}
		, #{postType}
		,#{postNo}
		, 'Y'
		)
	</insert>
	
	<update id="planDelete" parameterType="_int">
		UPDATE POST
		SET POST_DEL_YN = 'Y'
		WHERE POST_TYPE = '3'
		AND POST_NO = #{postNo}
	</update>
	
	<update id="planDelete2" parameterType="PostShared">
		UPDATE POST
		SET POST_DEL_YN = 'Y'
		WHERE POST_TYPE = '3'
		AND POST_NO = #{post_no}
		AND USER_ID = #{user_id}
	</update>
	
	
	
	<select id="memberselectList" parameterType="string" resultMap="boardResultSet">
		SELECT *
		FROM POST
		WHERE 
		 POST_DEL_YN = 'N'
		AND USER_ID = #{id}
		ORDER BY POST_NO DESC
	</select>
	
	<select id="selectShare" parameterType="string" resultMap="PostSharedResultSet">
		SELECT *
		FROM SHARED
		WHERE SHARE_ID = #{id}
	</select>
	
	<select id="voteView" parameterType="Vote" resultMap="votePostResultSet">
		SELECT *
		FROM VOTE
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
        AND USER_ID = #{userId}
	</select>

	<insert id="insertVote" parameterType="Vote">
		INSERT INTO VOTE VALUES(
		#{userId}
		, #{postType}
		,#{postNo}
		, 'Y'
		)
	</insert>

	<update id="voteUp" parameterType="Vote">
		UPDATE VOTE
		<set>
		<if test='postYn eq "N".toString()'>
		POST_YN = 'Y'
		</if>
		<if test='postYn eq "Y".toString()'>
		POST_YN = 'N'
		</if>
		</set>
		WHERE USER_ID = #{userId}
		AND POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
	</update>
	
	<update id="voteUpdate" parameterType="Vote">
		UPDATE MAP_BOARD
		<set>
		<if test='postYn eq "N".toString()'>
		VOTE_TOTAL = VOTE_TOTAL - 1
		</if>
		<if test='postYn eq "Y".toString()'>
		VOTE_TOTAL = VOTE_TOTAL + 1
		</if>
		</set>
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
	</update>
	
	<!-- comments -->
	<select id="getComments" parameterType="Comments" resultMap="commentsResultSet">
		SELECT *
		FROM COMMENTS
		WHERE POST_TYPE= #{postType}
		AND POST_NO = #{postNo}
        ORDER BY CMNT_NO
	</select>
	
	<select id="getReComments" parameterType="ReComments" resultMap="reCommentsResultSet">
		SELECT *
		FROM RE_COMMENTS
		WHERE POST_TYPE= #{postType}
		AND POST_NO = #{postNo}
        ORDER BY R_CMNT_NO
	</select>
	
	<insert id="insertComment" parameterType="Comments">
		INSERT INTO COMMENTS VALUES(
			#{cmntNo}
			, #{postType}
			, #{postNo}
			, #{cmntWirter}
			, #{cmntContents}
			, SYSDATE
		)
	</insert>
	
	<update id="commentModify" parameterType="Comments">
		UPDATE COMMENTS
		SET CMNT_CONTENTS = #{cmntContents}
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
		AND CMNT_NO = #{cmntNo}
	</update>
	
	<select id="checkReComments" parameterType="ReComments" resultMap="reCommentsResultSet">
		SELECT *
		FROM RE_COMMENTS
		WHERE POST_TYPE= #{postType}
		AND POST_NO = #{postNo}
        AND CMNT_NO = #{cmntNo}
        ORDER BY R_CMNT_NO
	</select>
	
	<insert id="insertReComment" parameterType="ReComments">
		INSERT INTO RE_COMMENTS VALUES(
			#{rcmntNo}
			, #{cmntNo}
			, #{postType}
			, #{postNo}
			, #{rcmntWirter}
			, #{rcmntContents}
			, SYSDATE
		)
	</insert>
	
	<update id="recommentModify" parameterType="ReComments">
		UPDATE RE_COMMENTS
		SET R_CMNT_CONTENTS = #{rcmntContents}
		WHERE POST_TYPE = #{postType}
		AND POST_NO = #{postNo}
		AND CMNT_NO = #{cmntNo}
		AND R_CMNT_NO = #{rcmntNo}
	</update>
	
</mapper>
	
	
	
	
	
	