<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.FinalProject.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.FinalProject.member.model.vo.Ttype" alias="Ttype"/>
		<typeAlias type="com.kh.FinalProject.member.model.vo.Friends" alias="Friends"/>
		<typeAlias type="com.kh.FinalProject.member.model.vo.PageInfo" alias="PageInfo"/>
		<typeAlias type="com.kh.FinalProject.member.model.vo.FriendsPage" alias="FriendsPage"/>
		
		<typeAlias type="com.kh.FinalProject.chat.model.vo.Chatroom" alias="Chatroom"/>
		<typeAlias type="com.kh.FinalProject.chat.model.vo.ChatroomMsg" alias="ChatroomMsg"/>
		<typeAlias type="com.kh.FinalProject.chat.model.vo.OneToOne" alias="OneToOne"/>
		<typeAlias type="com.kh.FinalProject.chat.model.vo.OneToOneMsg" alias="OneToOneMsg"/>
		
		
		<typeAlias type="com.kh.FinalProject.travel.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.FinalProject.travel.model.vo.Travel" alias="Travel"/>
		<typeAlias type="com.kh.FinalProject.travel.model.vo.Tag" alias="Tag"/>
		<typeAlias type="com.kh.FinalProject.travel.model.vo.PostTag" alias="PostTag"/>
		<typeAlias type="com.kh.FinalProject.travel.model.vo.MapBoard" alias="MapBoard"/>
		<typeAlias type="com.kh.FinalProject.travel.model.vo.LikedPost" alias="LikedPost"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/friends-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/travel-mapper.xml"/>
	</mappers>
</configuration>
